.appHeader {
  text-align: center;
  background-color: #011c27;
  padding: 4px;
  color: white;
}

@media screen and (min-width: 480px) {
  .appHeader {
    margin-bottom: 16px;
    padding: 16px;
  }
}

.cardWrapper {
  display: flex;
  justify-content: center;
}
