.appHeader {
  text-align: center;
  background-color: #4e8098;
  padding: 4px;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 480px) {
  .appHeader {
    margin-bottom: 16px;
    padding: 16px;
  }
}
